@media ( max-width: 1200px )
  .container
    max-width: 960px
  .promo
    width: 95%
  .collection
    &__photo
      &-big
        margin-right: 20px
        width: 300px
      &-small
        width: 300px
      &-twice
        margin-right: 20px
    &__description
      width: 320px
    &__heading
      font-size: 40px
      line-height: 56px
  .trends
    &__wrapper
      padding-left: 32px
      padding-right: 32px
    &__photos
      grid-template-columns: repeat(3, 280px)
    &__image
      width: 280px
      height: 350px

@media ( max-width: 992px )
  .container
    max-width: 700px
  .navbar
    padding-top: 8px
    &__list
      margin-right: 22px
    &__item
      margin-right: 17px
    &__link
      &:hover
        transition: none
        color: $text
    &__login
      &:hover
        transition: none
        background-color: $bgc
        color: $blue
  .promo
    &__button
      &:hover
        transition: none
        background: $text
        color: $bgc
  .collection
    &__wrapper
      flex-wrap: wrap
      justify-content: space-between
      margin-bottom: 80px
    &__type
      &:hover
        font-weight: 400
    &__photo
      &-big
        width: 322px
        margin-right: 30px
        margin-bottom: 40px
      &-small
        width: 320px
      &-twice
        margin-right: 0px
    &__description
      padding-top: 0
      width: 100%
    &__heading
      font-size: 48px
      line-height: 60px
    &__link
      &:hover
        &::after
          transition: none
          margin-left: 20px
  .trends
    &__header
      flex-direction: column
      margin-bottom: 55px
    &__heading
      margin-bottom: 25px
    &__photos
      grid-template-columns: repeat(2, 280px)
    &__image
      &_more
      &:hover
        transition: none
        opacity: 1
    &__name
      a
        &:hover
          color: $text
@media ( max-width: 768px )
  .container
    width: 92.5%
  body
    padding-top: 102px
  .body
    &_fix
      overflow-y: hidden
  .navbar
    margin-bottom: 30px
    &__top
      padding: 18px 26px
    &__menu
      display: none
      background-color: $bgc
      position: fixed
      // left: 8px
      right: 8px
      width: 304px
      // bottom: 0
      top: 10px
      padding-top: 10px
      &_visible
        display: flex
        flex-direction: column
        align-items: start
        overflow: scroll
        padding: 36px 24px
      &-button
        display: flex
    &__mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__list
      display: flex
      flex-direction: column
      // align-items: center
      margin-right: 0
    &__item
      margin-right: 0
      margin-bottom: 20px
    &__login
      width: 100%
      height: 40px
      padding: 7px 22px
  .menu
    &-button
      display: flex
      width: 22px
      height: 18px
      padding: 0
      align-items: center
      flex-direction: column
      justify-content: space-between
      border: none
      background-color: $bgc
      cursor: pointer
      outline: none
      &__line
        width: 22px
        height: 2px
        background-color: #3A4C66
        transition: 0.5s all
      &_active
        span
          &:nth-child(1)
            transform: rotate(-45deg)
            margin-top: 8px
          &:nth-child(2)
            display: none
          &:nth-child(3)
            transform: rotate(45deg)
            margin-bottom: 8px
  .promo
    width: 94.7%
    background-image: url(../images/promo-bg-768.jpg)
    margin-bottom: 80px
    background-position: right
    &__wrapper
      padding-left: 0
      padding-top: 36px
      padding-bottom: 43px
    &__hash
      margin-bottom: 24px
    &__heading
      max-width: 365px
      font-size: 48px
      line-height: 60px
      margin-bottom: 20px
    &__text
      max-width: 400px
      font-size: 18px
      line-height: 32px
      margin-bottom: 36px
    &__button
      margin-bottom: 50px
    &__advant
      margin-right: 31px
  .collection
    &__wrapper
      flex-wrap: wrap
      justify-content: space-between
      margin-bottom: 80px
      padding-left: 15px
      padding-right: 15px
    &__photo
      &-big
        width: 47%
        margin-right: 30px
        margin-bottom: 40px
      &-twice
        width: 47%
        margin-right: 0px
      &-small
        width: 100%
    &__description
      padding-top: 0
      width: 100%
    &__heading
      font-size: 48px
      line-height: 60px
    &__text
      margin-bottom: 25px
  .trends
    &__type
      margin-left: 26px
    &__photos
      padding-left: 14px
      padding-right: 14px
      grid-template-columns: repeat(2, minmax(210px, 280px))
      row-gap: 47px
      column-gap: 48px
    &__image
      width: 100%
    &__more
      height: 350px
      padding-right: 32px
      padding-left: 32px
    &__icon
      &_big
        margin-bottom: 30px

@media ( max-width: 640px )
  .collection
    &__photo
      &-big
        width: 100%
        max-height: 300px
        margin-right: 0
        margin-bottom: 14px
      &-twice
        flex-direction: row
        width: 100%
        max-height: 230px
        margin-right: 0px
        margin-bottom: 36px
      &-small
        width: 50%
        margin-right: 14px
        &:last-child
          margin-right: 0
    &__description
      width: 100%
    &__heading
      font-size: 40px
      line-height: 52px
      margin-bottom: 14px
    &__text
      font-size: 18px
      line-height: 1.7
      margin-bottom: 14px
  .trends
    &__wrapper
      padding-right: 0
      padding-left: 0
    &__header
      margin-bottom: 40px
    &__heading
      font-size: 48px
      line-height: 60px
    &__photos
      padding-right: 0
      padding-left: 0
      grid-template-columns: repeat(2, minmax(215px, 275px))
      row-gap: 35px
      column-gap: 35px
    &__image
      height: 300px
    &__info
      padding: 0
    &__name
      font-size: 18px
      margin-bottom: 0px
      line-height: 26px
    &__price
      font-size: 16px
      line-height: 26px
    &__icon
      width: 18px
      &_big
        width: 25px
    &__more
      height: 300px
    &__text
      font-size: 18px
      line-height: 22px

@media ( max-width: 576px )
  .promo
    margin-bottom: 64px
    &__wrapper
      padding-bottom: 17px
    &__advantages
      justify-content: start
      flex-wrap: wrap
      padding-left: 0
      // width: 274px
      width: 100%
    &__advant
      margin-bottom: 20px
      margin-right: 18px
      &-icon
        width: 11px
        margin-right: 15px
        &::after
          width: 24px
          height: 24px
          border-radius: 8px
      &-text
        letter-spacing: 1px
  .collection
    &__wrapper

    &__link
      display: none
  .trends
    &__photos
      grid-template-columns: repeat(2, minmax(200px, 250px))
      row-gap: 25px
      column-gap: 25px
    &__image
      // width: 200px
      height: 300px
    &__more
      height: 300px

@media ( max-width: 480px )
  body
    padding-top: 86px
  .container
    width: 90%
  .navbar
    &__top
      padding: 10px 8px
  .promo
    width: 100%
    min-height: 899px
    background-image: url(../images/promo-bg-480.jpg)
    background-position: top center
    border-radius: 0
    &__wrapper
      padding-top: 379px
      display: flex
      flex-direction: column
      align-items: center
    &__hash
      width: 194px
      height: 24px
      margin-bottom: 25px
      text-align: center
      &::after
        width: 194px
        height: 24px
    &__heading
      margin-bottom: 18px
      font-size: 32px
      line-height: 40px
      text-align: center
      letter-spacing: 1px
    &__text
      margin-bottom: 25px
      max-width: 280px
      line-height: 28px
      text-align: center
      letter-spacing: -1px
    &__button
      margin-bottom: 26px
      font-size: 16px
      line-height: 22px
      height: 47px
      padding: 11px 40px
    &__advantages
      justify-content: center
      width: 274px
    &__advant
      margin-right: 25px
      &:nth-child(2)
        margin-right: 0
      &-icon
        width: 11px
        margin-right: 11px
        &::after
          width: 24px
          height: 24px
          border-radius: 8px
      &-text
        letter-spacing: 0.1px
        margin-left: 3px
  .collection
    &__wrapper
      padding-left: 0
      padding-right: 0
      margin-bottom: 97px
    &__photo
      &-twice
        height: 97px
      &-small
        height: 97px
    &__heading
      text-align: center
      font-size: 28px
      line-height: 36px
      margin-bottom: 20px
    &__text
      padding-left: 7px
      text-align: center
      font-size: 16px
      line-height: 28px
  .trends
    &__header
      margin-bottom: 35px
    &__heading
      margin-bottom: 22px
      font-size: 28px
      line-height: 36px
    &__type
      margin-left: 3px
      font-size: 16px
      line-height: 22px
    &__photos
      grid-template-columns: repeat(2, minmax(140px, 210px))
      // grid-template-row: minmax(170px, 190px)
      row-gap: 22px
      column-gap: 10px
    &__image
      margin-bottom: 15px
      height: 170px
    &__data
      justify-content: start
    &__name
      margin-bottom: 3px
      font-size: 16px
      line-height: 20px
    &__price
      font-size: 14px
      line-height: 24px
      margin-right: 9px
    &__icon
      width: 14px
      &_big
        width: 25px
        margin-bottom: 15px
    &__more
      height: 170px
    &__text
      font-size: 17px
      line-height: 20px
