*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  background-color: $bgc
  color: $text
.container
  max-width: 1110px
  margin: auto
.link
  text-decoration: none
  color: #000
.button
  font-size: 16px
  font-weight: 700
  border-radius: 5px
  border: 2px solid transparent
  outline: none
  cursor: pointer
.hash
  position: relative
  padding: 6px 16px
  font-size: 14px
  line-height: 31px
  font-weight: 400
  color: #36B37E
  text-transform: uppercase
  &:after
    position: absolute
    content: ''
    min-height: 30px
    width: 100%
    top: 0
    left: 0
    background-color: #36B37E
    border-radius: 50px
    opacity: 0.2
