.navbar
  background-color: #fff
  margin-bottom: 36px
  &__top
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 26px
    padding-bottom: 26px
  &__menu
    display: flex
    justify-content: space-between
    align-items: center
    margin-left: 15px
    &-button
      display: none
  &__list
    padding: 0
    list-style: none
    margin: 0 50px 0 0
  &__item
    display: inline
    margin-right: 37px
    &:last-child
      margin-right: 0
  &__link
    font-weight: 600
    font-size: 16px
    line-height: 22px
    color: $text
    &:hover
      transition: 0.2s all
      color: $blue
  &__login
    padding: 11px 22px
    min-height: 40px
    color: $blue
    background-color: $bgc
    border: 2px solid $blue
    font-size: 16px
    line-height: 22px
    filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1))
    &:hover
      transition: 0.5s all
      background-color: $blue
      color: $bgc
.logo
  height: 28px
