.header
  // background-color: #fff
  &__menu
    display: flex
    justify-content: space-between
    align-items: center
  &__list
    list-style: none
    margin-right: 15px
  &__item
    display: inline
    margin-right: 15px
    &:last-child
      margin-right: 0
  &__link
    color: $text
  &__login
    background-color: transparent
    border: none
.container
  border: 1px solid #000
  display: flex
  justify-content: space-between
  align-items: center
