.promo
  min-width: 1280px
  min-height: 700px
  background-image: url(../images/promo-bg.jpg)
  background-repeat: no-repeat
  background-position: center
  &__wrapper
    padding-top: 30px
    padding-left: 30px
    max-width: 625px
