.subscribe
  &_mod
    background-color: $blue
    background-image: url(../images/icons/oval.svg),url(../images/icons/oval.svg)
    background-repeat: no-repeat
    background-position-x: -630px, 900px
    background-position-y: -807px, -34px
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 100px 0
  &__info
    width: 436px
  &__heading
    margin-bottom: 14px
    font-family: 'HK Grotesk', sans-serif
    font-weight: 700
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: $bgc
  &__text
    font-size: 18px
    line-height: 32px
    color: $bgc
  &__form
    position: relative
    margin-right: 63px
  &__input
    width: 447px
    height: 56px
    background: #FFFFFF
    border: 1px solid #C3CAD9
    border-radius: 8px
    padding-right: 180px
    padding-left: 48px
    background-image: url(../images/icons/letter.svg)
    background-repeat: no-repeat
    background-position: 20px center
    &::before
      content: ''
    &::placeholder
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: #959EAD
  &__button
    position: absolute
    top: 4px
    right: 4px
    height: 47px
    background: #183B56
    border-radius: 4px
    padding: 10px 26px
    font-weight: 700
    font-size: 18px
    line-height: 25px
    text-align: center
    color: #FFFFFF
